<div class="side-bar">
  <div><i class="uil uil-ellipsis-h"></i></div>

  <ul class="side-bar__list list-one">
    <li [routerLink]="['/', 'auth']">
      <div class="list-wrapper-item">
        <i class="uil uil-estate"></i>
        <span class="side-bar__list list-label">Home</span>
      </div>
    </li>

    <li [routerLink]="['/', 'history']">
      <div class="list-wrapper-item">
        <i class="uil uil-search"></i>
        <span class="side-bar__list list-label">Buscar</span>
      </div>
    </li>

    <li [routerLink]="['/', 'favorites']" [queryParams]="{ hola: 'mundo' }">
      <div class="list-wrapper-item">
        <i class="uil uil-chart"></i>
        <span class="side-bar__list list-label">Tu biblioteca</span>
      </div>
    </li>
  </ul>

  <div class="side-bar__separator"></div>

  <ul class="side-bar__list list-two">
    <li>
      <div class="list-wrapper-item">
        <i class="uil uil-plus-square"></i>
        <span class="side-bar__list list-label">Crear lista</span>
      </div>
    </li>
    <li>
      <div class="list-wrapper-item">
        <i class="uil uil-heart-medical"></i>
        <span class="side-bar__list list-label">Canciones que te gustan</span>
      </div>
    </li>
  </ul>

  <div class="side-bar__separator line-separator"></div>

  <ul class="side-bar__list list-three">
    <li [routerLink]="['/']">
      <div class="list-wrapper-item">
        <span class="side-bar__list list-label">Mi lista º1</span>
      </div>
    </li>
    <li [routerLink]="['/']">
      <div class="list-wrapper-item">
        <span class="side-bar__list list-label">Mi lista º2</span>
      </div>
    </li>
    <li [routerLink]="['/']">
      <div class="list-wrapper-item">
        <span class="side-bar__list list-label">Mi lista º3</span>
      </div>
    </li>
  </ul>
</div>
