<div class="side-bar">

  <ul class="side-bar__list list-one">

    @for (item of mainMenu.defaultOptions; track item.name)
    {

      <li class="side-bar__item"  [routerLink]="item.router" >

           <div class="list-wrapper-item">

               <i [class]="item.icon"></i>           <span class="side-bar__list list-label">{{ item.name }}</span>

          </div>

      </li>
    }

  </ul>

  <div class="side-bar__separator line-separator"></div>




  <!------ ELEMENTOS DEL MENU SIN USAR--------->


<!------
  <ul class="side-bar__list list-two">
    @for (item of mainMenu.accessLink; track item.name)
    {

      <li class="side-bar__item">

        <div class="list-wrapper-item">

               <i [class]="item.icon"></i>      <span class="side-bar__list list-label">{{ item.name }}</span>

        </div>

      </li>

    }

  </ul>

  <div class="side-bar__separator line-separator"></div>

  <ul class="side-bar__list list-three">

    @for (item of customOptions; track item.name)
    {

      <li class="side-bar__item" [routerLink]="item.router">

        <div class="list-wrapper-item">

             <span class="side-bar__list list-label">{{ item.name }}</span>

        </div>

      </li>
    }

  </ul>

</div>
--->
