@if (mode === 'small')
{
  <div class="card-player player-small">
    <img [src]="track.cover" [alt]="track.name" class="cover">

    <div class="content-player">
      {{ track.name }}
    </div>

    <div class="buttons-player">
      <button (click)="sendPlay(track)" class="play-btn">
        <i class="uil uil-play"></i>
      </button>
    </div>
  </div>
}

@else if (mode === 'big')
{
  <div class="card-player player-big">
    <img appImgBroken
         [src]="track.cover"
         [alt]="track.name"
         class="cover">

    <div class="content-player">
      <div class="title-track"><strong>{{ track.name }}</strong></div>
      <div class="sub-title-track">{{ track.album }}</div>
    </div>

    <div class="buttons-player">
      <button (click)="sendPlay(track)" class="play-btn">
        <i class="uil uil-play"></i>
      </button>
    </div>
  </div>
}
